.about {
    &__box { 
        background-color: #F3FDFF;
        border-radius: 20px;
        margin-bottom: 30px;
    }

    &__img {
        object-fit: cover;
        object-position: center;
    }

    &__box:last-child {
        margin-bottom: 0;
    }

    &__text {
        h6 {
            font-family: var(--title-font);
            font-weight: var(--font-medium);
            font-size: var(--small-font-size);
            color: var(--title-color);
            padding: 35px 0 0 35px;
        }

        h3 {
            position: relative;
            font-family: var(--title-font);
            font-weight: var(--font-bold);
            font-size: var(--h1-font-size);
            padding-left: 35px;
            margin-bottom: 30px;
            &::after {
                content: " ";
                position: absolute;
                display: block;
                width: 15%;
                height: 2px;
                top: 35px;
                background-color: var(--title-color);
            }
        }

        p {
            margin-bottom: 15px;
            color: var(--title-color);
            padding: 0 35px;
            padding-right: 20px;
            line-height: 23px;
        }

        p:last-child {
            margin-bottom: 35px;
        }
    }

    &__group {
        display: none;
    }

    &__blue {
        background-color: var(--title-color);
        .about__text {
            h6 {
                color: var(--white-color);
                text-align: right;
                padding-right: 35px;
            }
            h3 {
                color: var(--white-color);
                text-align: right;
                padding-right: 35px;
                &::after {
                    right: 35px;
                    background-color: var(--white-color);
                    width: 30%;
                }
            }

            p {
                color: var(--white-color);
                text-align: right;
                padding-left: 10px;
            }

            p:nth-child(3) {
                font-style: italic;
                font-size: var(--small-font-size);
                line-height: 20px;
                margin-bottom: var(--mb-1-5);
                padding-left: 35px;
            }
        }
    }

    &__orange {
        background-color: #FFE4D4;

        .about__text {
            h6 {
                color: var(--first-color);
                padding-left: 35px;
            }
            h3 {
                color: var(--first-color);
                padding-left: 35px;
                &::after {
                    left: 35px;
                    background-color: var(--first-color);
                    width: 30%;
                }
            }

            p {
                color: var(--first-color);
                padding-right: 10px;
            }

            p:nth-child(3) {
                font-style: italic;
                font-size: var(--small-font-size);
                line-height: 20px;
                margin-bottom: var(--mb-1-5);
                padding-left: 35px;
            }
        }
    }
}