.contact {
    background-color: var(--bg-section-blue-color);

    &__nav {
        margin-bottom: 15px;

        ul {
            padding: 30px;
            display: flex;
            li {
                position: relative;
                margin-right: 30px;

                a {
                    color: var(--white-color);
                    font-weight: var(--font-medium);
                    font-size: var(--h3-font-size);
                    font-family: var(--title-font);
                    line-height: 22px;
                }

                &::before {
                    content: " ";
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0%;
                    height: 2px;
                    transition: all .2s ease-in-out;
                }

                &:first-child {
                    &::after {
                        content: " ";
                        position: absolute;
                        top: 50%;
                        right: -15px;
                        transform: translateY(-50%);
                        width: 2px;
                        background-color: var(--white-color);
                        height: 15px;
                        // transition: background-color .15s ease-in-out;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &--active {
            &::before {
                background-color: var(--white-color);
                width: 100%!important;
            }
        }
    }

    &__cta {
        position: relative;
        font-size: var(--smaller-font-size);
        color: var(--white-color);
        padding: 0 30px;
        margin-bottom: 40px;
    }

    &__group {
        display: none;
    }

    &__form {
        position: relative;
        margin: 30px auto 0;
        background-color: var(--title-color);
        border-radius: 20px;
        max-width: 459px;
        overflow: hidden;
        transition: .3s all;

        h3 {
            display: block;
            padding-top: 40px;
            padding-bottom: 30px;
            text-align: center;
            font-size: var(--h2-font-size);
            color: var(--white-color);
            font-weight: var(--font-semi-bold);
            font-family: var(--body-font);
        }

        form {
            width: 100%;
        }

        &-sub {
            margin-bottom: 0!important;

            &:first-child {
                .contact__input {
                    margin-right: 7px;
                }
            }
    
            &:last-child {
    
                label {
                    padding-left: 7px;
                }
    
                i {
                    left: 30px;
                }
    
                .contact__input {
                    margin-left: 7px;
                }
            }
        }
    }

    &__form-group {
        margin-bottom: 20px;

        label {
            display: block;
            padding: 0 30px;
            color: var(--white-color);
            font-size: var(--small-font-size);
            font-weight: var(--font-medium);
            margin-bottom: 10px;
        }

        
    }

    &__forgot {
        text-align: right;
        a {
            padding: 0 30px;
            font-size: var(--small-font-size);
            color: var(--white-color);
            text-decoration: underline;
        }
    }

    &__form-input {
        position: relative;
        display: flex;
        justify-content: space-between;
        
        i {
            position: absolute;
            top: 50%;
            left: 55px;
            transform: translate(-50%, -50%);
            color: #727272;
            font-size: var(--h2-font-size);
        }
    }

    &__input {
        display: inline-block;
        border: none;
        padding: 0 20px 0 50px;
        border-radius: 7px;
        width: 100%;
        height: 50px;
        margin: 0 30px;
        font-size: var(--small-font-size);
        font-family: var(--body-font);
        color: var(--text-color);

        &::-webkit-input-placeholder { /* Edge */
            font-size: var(--small-font-size);
            font-family: var(--body-font);
            color: #8E8E8E;
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            font-size: var(--small-font-size);
            font-family: var(--body-font);
            color: #8E8E8E;
        }
        
        &::placeholder {
            font-size: var(--small-font-size);
            font-family: var(--body-font);
            color: #8E8E8E;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;

        a {
            background-color: transparent;
            border: 2px solid var(--white-color);
            animation: none;
            padding: .75rem 1.75rem;
        }

        a:hover {
            border: 2px solid #F3FDFF;
            background-color: #F3FDFF;
            
            span {
                color: var(--title-color);
            }
        }

        a span {
            font-size: var(--small-font-size);
            color: var(--white-color);
        }
    }

    &__icon {
        text-align: center;
        margin-bottom: 30px;

        p {
            padding: 0 30px;
            font-size: var(--small-font-size);
            color: var(--white-color);
            line-height: 22px;
            margin-bottom: 20px;
        }

        a {
            margin-right: 7px;

            i {
                color: var(--white-color);
                font-size: var(--h3-font-size);
                border: 2px solid var(--white-color);
                border-radius: 50%;
                padding: 5px;
                transition: .3s all;
            }
            
            &:last-child {
                margin-right: 0;
                margin-left: 7px;
            }

            &:hover {
                i {
                    border: 2px solid #F3FDFF;
                    background-color: #F3FDFF;
                    color: var(--title-color);
                }
            }
        }
    }

    &__login {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        left: -200px;
        transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);

        &-active {
            position: relative;
            visibility: visible;
            left: 0;
            opacity: 1;
        }
    }

    &__register {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        right: -200px;
        transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);

        &-active {
            position: relative;
            visibility: visible;
            opacity: 1;
            right: 0;
        }
    }
}