/*=============== HEADER ===============*/
.header {
    width: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__menu {
        width: 100%;
    }

    &__menu-sub {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__flag {
        display: flex;
    }

    &__language {
        justify-self: center;
        cursor: pointer;
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: .5rem;
        font-weight: var(--font-medium);

        &-img {
            width: 80%;
            transform: translateY(-5px);
        }
    }

    &__toggle {
        font-size: 1.25rem;
        cursor: pointer;
    }

    &__menu{
        @media screen and (max-width: 767px){
            position: fixed;
            width: 100%;
            top: -150%;
            left: 0;
            padding: 3.5rem 0;
            transition: .4s;
            z-index: var(--z-fixed);
            border-radius: 0 0 1.5rem 1.5rem;
        }
    }

    &__close {
        font-size: 1.8rem;
        position: absolute;
        top: .5rem;
        right: .7rem;
        cursor: pointer;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
        margin-bottom: var(--mb-1-5);
    }

    &__link {
        text-transform: uppercase;
        font-weight: var(--font-medium);
        color: var(--title-color);
        font-family: var(--title-font);
        font-size: var(--small-font-size);
        transition: .4s;
    }

    &__link:hover {
        color: var(--first-color);
    }
}

/*=============== SHOW MENU ===============*/
.show-menu {
    top: 0;
    background-color: #fff;
    box-shadow: 0px 4px 15px #EAEAEA;
}

.scroll-header {
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 4px 15px #EAEAEA;
}

/* Active link */
.active-link{
    color: var(--first-color);
}