.product {
    .section__title {
        margin-bottom: 50px;
    }

    &__group {
        display: flex;
        max-width: 440px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        background-color: #E9F7F8;
        border-radius: 15px;
        border: 2px solid transparent;
        transition: 0.2s all;
        cursor: pointer;
        margin-bottom: 30px;
    }

    &__group:last-child {
        margin-bottom: 0;
    }

    &__group:hover {
        transform: scale(1.05);

        .product__buttons {
            a {
                border: 2px solid var(--title-color);
                background-color: var(--title-color);

                span {
                    color: #E9F7F8;
                }
            }
        }
    }

    &__texts {
        padding: 0 10px;
        margin: 10px 0 20px 0;
        display: grid;
        justify-content: center;
    }

    &__text {
        display: flex;
        align-items: center;
        color: #000;
        margin: 0 30px;
        margin-bottom: var(--mb-0-5);
        i {
            font-weight: var(--font-bold);
            margin-right: var(--mr-0-5);
        }
    }

    &__version {
        display: flex;
        justify-content: center;

        span {
            display: inline-block;
            background-color: var(--title-color);
            min-width: 270px;
            padding: 10px 0;
            margin-top: 30px;
            font-family: var(--title-font);
            font-weight: var(--font-bold);
            font-size: var(--h2-font-size);
            color: #ffffff;
            text-align: center;
            border-radius: 10px;
        }
    }

    &__img {
        margin: 0 auto;
        width: 50%;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        
        a {
            min-width: 270px;
            text-align: center;
            font-weight: var(--font-bold);
            border: 2px solid var(--title-color);
            background-color: transparent;
        }

        a span {
            font-size: var(--normal-font-size);
            color: var(--title-color);
        }
    }

    
    &__blue {
        background-color: var(--title-color);

        .product__version {
            span {
                background-color: #F3FDFF;
                color: var(--title-color);
            }
        }

        .product__text {
            color: #ffffff;
            i {
                color: #000;
            }
        }

        .product__buttons {
            position: relative;

            a {
                position: relative;
                border: 2px solid #FFFFFF;
                background-color: transparent;
            }
    
            a span {
                color: #FFFFFF;
            }

            .product__discount {
                position: absolute;
                font-size: var(--smaller-font-size);
                top: 10px;
                left: 57%;

                &::before {
                    content: " ";
                    position: relative;
                    top: 9px;
                    display: block;
                    height: 2px;
                    background-color: #fff;
                }
            }

            .product__time {
                position: absolute;
                bottom: -30px;
                right: 15px;
                color: #fff;
                font-size: var(--smaller-font-size);
                font-style: italic;
                font-weight: var(--font-normal);
            }
        }

        &:hover {
            .product__buttons {
                a {
                    border: 2px solid #E9F7F8;
                    background-color: #E9F7F8;
    
                    span {
                        color: var(--title-color);
                    }
                }
    
                .product__discount {
                    color: var(--title-color);
                    &::before {
                        background-color: var(--title-color);
                    }
                }
            }
        }
    }
}