.process {
    background-color: var(--bg-section-color);
    padding-top: 0;

    &__group {
        display: none;
    }

    &__step {
        display: flex;
        position: relative;
        align-items: center;
        margin-bottom: 28px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        position: relative;
        transform: translate(-30px, -100px);
    }

    &__num {
        display: flex;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid var(--title-color);
        justify-content: center;
        align-items: center;
        color: var(--title-color);
        font-family: var(--title-font);
        font-weight: var(--font-bold);
        margin-right: 20px;
        transition: .2s all;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: var(--title-color);
        }
    }

    &__line {
        position: absolute;
        width: 2px;
        height: 28px;
        background-color: var(--title-color);
        bottom: -28px;
    }
}

.process.section {
    padding-top: 0;
}