/*=============== REUSABLE CSS CLASSES ===============*/
.section{
    padding: calc(var(--header-height) + 1rem) 0 calc(var(--header-height) + 1rem);

    &__title{
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-2);
        font-weight: var(--font-bold);

        &::after {
            content: " ";
            position: relative;
            top: 5px;
            display: block;
            width: 20%;
            height: 3px;
            background-color: var(--first-color);
        }
    }
}

/*=============== LAYOUT ===============*/
.container{
    max-width: 968px;
    margin-left: var(--ml-1-5);
    margin-right: var(--mr-1-5);
}

.grid{
    display: grid;
}

.main {
    position: relative;
}