/*=============== FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/PoppinsVN-400.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/PoppinsVN-400-italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/PoppinsVN-500.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/PoppinsVN-600.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/PoppinsVN-700.ttf");
  font-weight: 700;
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 60px;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --first-color: #F48120;
  --first-color-alt: #f58020e7;
  --title-color: #46B4BD;
  --text-color: #3E3E3E;
  --white-color: #FFFFFF;
  --bg-section-color: #F5F5F5;
  --bg-section-blue-color: #F4FEFF;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 900;
  /*========== Margin Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /*========== Margin Left ==========*/
  --ml-0-25: .25rem;
  --ml-0-5: .5rem;
  --ml-0-75: .75rem;
  --ml-1: 1rem;
  --ml-1-5: 1.5rem;
  --ml-2: 2rem;
  --ml-2-5: 2.5rem;
  /*========== Margin right ==========*/
  --mr-0-25: .25rem;
  --mr-0-5: .5rem;
  --mr-0-75: .75rem;
  --mr-1: 1rem;
  --mr-1-5: 1.5rem;
  --mr-2: 2rem;
  --mr-2-5: 2.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 2.875rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: calc(var(--header-height) + 1rem) 0 calc(var(--header-height) + 1rem);
}
.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
  font-weight: var(--font-bold);
}
.section__title::after {
  content: " ";
  position: relative;
  top: 5px;
  display: block;
  width: 20%;
  height: 3px;
  background-color: var(--first-color);
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: var(--ml-1-5);
  margin-right: var(--mr-1-5);
}

.grid {
  display: grid;
}

.main {
  position: relative;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--title-color);
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.button__icon {
  font-size: 1.25rem;
}
.button--ghost {
  border: 2px solid;
  background-color: transparent;
  border-radius: 3rem;
  padding: 0.75rem 1.5rem;
}
.button--link {
  color: var(--title-color);
}
.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.button:hover {
  background-color: var(--text-color);
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.header__switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}
.header__switch > span {
  position: absolute;
  top: 10px;
  pointer-events: none;
  font-weight: var(--font-bold);
  font-size: var(--smaller-font-size);
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}
.header__switch--on {
  left: 0;
  padding-left: 2px;
  color: #0097BD;
}
.header__switch--off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}
.header__check--toggle-round + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #0097BD;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
.header__check--toggle-round + label:before, .header__check--toggle-round + label:after {
  display: block;
  position: absolute;
  content: "";
}
.header__check--toggle-round + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #0097BD;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
.header__check--toggle-round + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}
.header__check--toggle-round:checked + label:after {
  margin-left: 41px;
}
.header__check--toggle-round:checked ~ .header__switch--off {
  color: #0097BD;
}
.header__check--toggle-round:checked ~ .header__switch--on {
  color: #fff;
}
.header__check--toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.header__check--toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__menu {
  width: 100%;
}
.nav__menu-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav__flag {
  display: flex;
}
.nav__language {
  justify-self: center;
  cursor: pointer;
}
.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-medium);
}
.nav__logo-img {
  width: 80%;
  transform: translateY(-5px);
}
.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    width: 100%;
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: 0.4s;
    z-index: var(--z-fixed);
    border-radius: 0 0 1.5rem 1.5rem;
  }
}
.nav__close {
  font-size: 1.8rem;
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  cursor: pointer;
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  margin-bottom: var(--mb-1-5);
}
.nav__link {
  text-transform: uppercase;
  font-weight: var(--font-medium);
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: var(--small-font-size);
  transition: 0.4s;
}
.nav__link:hover {
  color: var(--first-color);
}

/*=============== SHOW MENU ===============*/
.show-menu {
  top: 0;
  background-color: var(--white-color);
  box-shadow: 0px 4px 15px #EAEAEA;
}

.scroll-header {
  position: fixed;
  background-color: var(--white-color);
  box-shadow: 0px 4px 15px #EAEAEA;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

.home {
  position: relative;
}
.home__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: fill;
  object-position: center;
}
.home__content {
  padding: calc(var(--header-height) + 50px) 0 50px;
  row-gap: 2rem;
}
.home__group {
  display: grid;
  position: relative;
}
.home__img {
  width: 100%;
  justify-self: center;
}
.home__details-img {
  position: absolute;
  right: 0.5rem;
}
.home__details-title, .home__details-subtitle {
  display: block;
  font-size: var(--small-font-size);
  text-align: right;
}
.home__subtitle {
  font-family: var(--body-font);
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
}
.home__mb {
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home__mb img:last-child {
  width: 100px;
  margin-left: 20px;
}
.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  margin-bottom: var(--mb-1);
}
.home__title span {
  color: var(--first-color);
}
.home__tagline {
  color: var(--text-color);
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}
.home__description {
  text-align: justify;
  line-height: 22px;
  margin-bottom: 27px;
  list-style-type: disc;
  margin-left: 20px;
}
.home__description li:first-child {
  margin-bottom: 7px;
}
.home__buttons {
  margin-bottom: 0;
}
.home__buttons a span {
  font-size: var(--normal-font-size);
  color: var(--white-color);
}

.introduction__text p {
  text-align: justify;
  margin-bottom: var(--mb-1-5);
  line-height: 22px;
}
.introduction__text ul {
  margin-bottom: var(--mb-1-5);
  list-style-type: disc;
}
.introduction__text ul li {
  margin-left: 20px;
}
.introduction__text ul li span {
  line-height: 22px;
  text-align: justify;
}
.introduction__text ul li:first-child {
  margin-left: 0;
  list-style-type: none;
}
.introduction__img {
  width: 100%;
  max-width: 568px;
  height: auto;
}
.introduction__group {
  justify-self: center;
}
.introduction__buttons {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  margin-top: var(--mb-1-5);
}
.introduction__buttons a span {
  font-size: var(--normal-font-size);
  color: #FFFFFF;
}

.structure {
  background-color: var(--bg-section-blue-color);
}
.structure__img {
  width: 76px;
  height: 76px;
  background-color: #fff;
  border-radius: 50%;
}
.structure__box {
  margin-top: 30px;
}
.structure__box--top {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 23px;
  padding-bottom: 20px;
  background-color: #46B4BD;
  margin-bottom: 30px;
}
.structure__box--top > .structure__text {
  color: #fff;
  margin-left: 20px;
}
.structure__box--top > .structure__text p {
  font-size: var(--normal-font-size);
  line-height: 22px;
}
.structure__box--top > .structure__text h6 {
  font-size: var(--h2-font-size);
  line-height: 24px;
  padding: 5px 0;
}
.structure__box--bottom {
  position: relative;
  padding: 0 10px;
}
.structure__box--bottom .structure__line {
  display: none;
  position: absolute;
  top: 30px;
  left: -20px;
}
.structure__box--bottom p {
  font-size: var(--normal-font-size);
  line-height: 22px;
}
.structure__box--bottom ul {
  list-style-type: disc;
  margin-left: 25px;
}
.structure__box:first-child {
  margin-top: 0;
}

.question {
  background-color: var(--bg-section-color);
}
.question .section__title {
  margin-bottom: 50px;
}
.question__content {
  display: flex;
  flex-direction: column-reverse;
}
.question__text p {
  text-align: justify;
  margin-bottom: var(--mb-1-5);
  line-height: 22px;
}
.question__img {
  justify-self: center;
  position: relative;
  margin-bottom: 40px;
}
.question__buttons {
  display: flex;
  justify-self: center;
}
.question__buttons .button {
  animation: none;
}
.question__buttons a span {
  font-size: var(--normal-font-size);
  color: #FFFFFF;
}
.question__buttons a:first-child {
  margin-right: 7px;
}
.question__buttons a:last-child {
  margin-left: 7px;
}
.question__buttons .btn__blue {
  background-color: var(--title-color);
  color: #FFFFFF;
}
.question__buttons .btn__blue:hover {
  background-color: var(--text-color);
}

.process {
  background-color: var(--bg-section-color);
  padding-top: 0;
}
.process__group {
  display: none;
}
.process__step {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 28px;
}
.process__step:last-child {
  margin-bottom: 0;
}
.process__img {
  position: relative;
  transform: translate(-30px, -100px);
}
.process__num {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--title-color);
  justify-content: center;
  align-items: center;
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  margin-right: 20px;
  transition: 0.2s all;
  cursor: pointer;
}
.process__num:hover {
  color: #fff;
  background-color: var(--title-color);
}
.process__line {
  position: absolute;
  width: 2px;
  height: 28px;
  background-color: var(--title-color);
  bottom: -28px;
}

.process.section {
  padding-top: 0;
}

.benefit {
  background-color: var(--bg-section-color);
}
.benefit__data {
  margin-bottom: 34px;
}
.benefit__box {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  margin-bottom: 16px;
  border-radius: 15px;
  padding: 23px;
}
.benefit__img {
  width: 60px;
  height: 60px;
  margin-right: 23px;
}
.benefit__buttons {
  display: flex;
  justify-content: center;
}
.benefit__buttons a span {
  font-size: var(--normal-font-size);
  color: var(--white-color);
}

.product .section__title {
  margin-bottom: 50px;
}
.product__group {
  display: flex;
  max-width: 440px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #E9F7F8;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: 0.2s all;
  cursor: pointer;
  margin-bottom: 30px;
}
.product__group:last-child {
  margin-bottom: 0;
}
.product__group:hover {
  transform: scale(1.05);
}
.product__group:hover .product__buttons a {
  border: 2px solid var(--title-color);
  background-color: var(--title-color);
}
.product__group:hover .product__buttons a span {
  color: #E9F7F8;
}
.product__texts {
  padding: 0 10px;
  margin: 10px 0 20px 0;
  display: grid;
  justify-content: center;
}
.product__text {
  display: flex;
  align-items: center;
  color: #000;
  margin: 0 30px;
  margin-bottom: var(--mb-0-5);
}
.product__text i {
  font-weight: var(--font-bold);
  margin-right: var(--mr-0-5);
}
.product__version {
  display: flex;
  justify-content: center;
}
.product__version span {
  display: inline-block;
  background-color: var(--title-color);
  min-width: 270px;
  padding: 10px 0;
  margin-top: 30px;
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
}
.product__img {
  margin: 0 auto;
  width: 80%;
}
.product__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.product__buttons a {
  min-width: 270px;
  text-align: center;
  font-weight: var(--font-bold);
  border: 2px solid var(--title-color);
  background-color: transparent;
}
.product__buttons a span {
  font-size: var(--normal-font-size);
  color: var(--title-color);
}
.product__blue {
  background-color: var(--title-color);
}
.product__blue .product__version span {
  background-color: #F3FDFF;
  color: var(--title-color);
}
.product__blue .product__text {
  color: #ffffff;
}
.product__blue .product__text i {
  color: #000;
}
.product__blue .product__buttons {
  position: relative;
}
.product__blue .product__buttons a {
  position: relative;
  border: 2px solid #FFFFFF;
  background-color: transparent;
}
.product__blue .product__buttons a span {
  color: #FFFFFF;
}
.product__blue .product__buttons .product__discount {
  position: absolute;
  font-size: var(--smaller-font-size);
  top: 10px;
  left: 57%;
}
.product__blue .product__buttons .product__discount::before {
  content: " ";
  position: relative;
  top: 9px;
  display: block;
  height: 2px;
  background-color: #fff;
}
.product__blue .product__buttons .product__time {
  position: absolute;
  bottom: -30px;
  right: 15px;
  color: #fff;
  font-size: var(--smaller-font-size);
  font-style: italic;
  font-weight: var(--font-normal);
}
.product__blue:hover .product__buttons a {
  border: 2px solid #E9F7F8;
  background-color: #E9F7F8;
}
.product__blue:hover .product__buttons a span {
  color: var(--title-color);
}
.product__blue:hover .product__buttons .product__discount {
  color: var(--title-color);
}
.product__blue:hover .product__buttons .product__discount::before {
  background-color: var(--title-color);
}

.contact {
  background-color: var(--bg-section-blue-color);
}
.contact__nav {
  margin-bottom: 15px;
}
.contact__nav ul {
  padding: 30px;
  display: flex;
}
.contact__nav ul li {
  position: relative;
  margin-right: 30px;
}
.contact__nav ul li a {
  color: var(--white-color);
  font-weight: var(--font-medium);
  font-size: var(--h3-font-size);
  font-family: var(--title-font);
  line-height: 22px;
}
.contact__nav ul li::before {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  transition: all 0.2s ease-in-out;
}
.contact__nav ul li:first-child::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  width: 2px;
  background-color: var(--white-color);
  height: 15px;
}
.contact__nav ul li:last-child {
  margin-right: 0;
}
.contact__nav--active::before {
  background-color: var(--white-color);
  width: 100% !important;
}
.contact__cta {
  position: relative;
  font-size: var(--smaller-font-size);
  color: var(--white-color);
  padding: 0 30px;
  margin-bottom: 40px;
}
.contact__group {
  display: none;
}
.contact__form {
  position: relative;
  margin: 30px auto 0;
  background-color: var(--title-color);
  border-radius: 20px;
  max-width: 459px;
  overflow: hidden;
  transition: 0.3s all;
}
.contact__form h3 {
  display: block;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  font-size: var(--h2-font-size);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font);
}
.contact__form form {
  width: 100%;
}
.contact__form-sub {
  margin-bottom: 0 !important;
}
.contact__form-sub:first-child .contact__input {
  margin-right: 7px;
}
.contact__form-sub:last-child label {
  padding-left: 7px;
}
.contact__form-sub:last-child i {
  left: 30px;
}
.contact__form-sub:last-child .contact__input {
  margin-left: 7px;
}
.contact__form-group {
  margin-bottom: 20px;
}
.contact__form-group label {
  display: block;
  padding: 0 30px;
  color: var(--white-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 10px;
}
.contact__forgot {
  text-align: right;
}
.contact__forgot a {
  padding: 0 30px;
  font-size: var(--small-font-size);
  color: var(--white-color);
  text-decoration: underline;
}
.contact__form-input {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.contact__form-input i {
  position: absolute;
  top: 50%;
  left: 55px;
  transform: translate(-50%, -50%);
  color: #727272;
  font-size: var(--h2-font-size);
}
.contact__input {
  display: inline-block;
  border: none;
  padding: 0 20px 0 50px;
  border-radius: 7px;
  width: 100%;
  height: 50px;
  margin: 0 30px;
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  color: var(--text-color);
}
.contact__input::-webkit-input-placeholder {
  /* Edge */
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  color: #8E8E8E;
}
.contact__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  color: #8E8E8E;
}
.contact__input::placeholder {
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  color: #8E8E8E;
}
.contact__buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.contact__buttons a {
  background-color: transparent;
  border: 2px solid var(--white-color);
  animation: none;
  padding: 0.75rem 1.75rem;
}
.contact__buttons a:hover {
  border: 2px solid #F3FDFF;
  background-color: #F3FDFF;
}
.contact__buttons a:hover span {
  color: var(--title-color);
}
.contact__buttons a span {
  font-size: var(--small-font-size);
  color: var(--white-color);
}
.contact__icon {
  text-align: center;
  margin-bottom: 30px;
}
.contact__icon p {
  padding: 0 30px;
  font-size: var(--small-font-size);
  color: var(--white-color);
  line-height: 22px;
  margin-bottom: 20px;
}
.contact__icon a {
  margin-right: 7px;
}
.contact__icon a i {
  color: var(--white-color);
  font-size: var(--h3-font-size);
  border: 2px solid var(--white-color);
  border-radius: 50%;
  padding: 5px;
  transition: 0.3s all;
}
.contact__icon a:last-child {
  margin-right: 0;
  margin-left: 7px;
}
.contact__icon a:hover i {
  border: 2px solid #F3FDFF;
  background-color: #F3FDFF;
  color: var(--title-color);
}
.contact__login {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: -200px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.contact__login-active {
  position: relative;
  visibility: visible;
  left: 0;
  opacity: 1;
}
.contact__register {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  right: -200px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.contact__register-active {
  position: relative;
  visibility: visible;
  opacity: 1;
  right: 0;
}

.about__box {
  background-color: #F3FDFF;
  border-radius: 20px;
  margin-bottom: 30px;
}
.about__img {
  object-fit: cover;
  object-position: center;
}
.about__box:last-child {
  margin-bottom: 0;
}
.about__text h6 {
  font-family: var(--title-font);
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  color: var(--title-color);
  padding: 35px 0 0 35px;
}
.about__text h3 {
  position: relative;
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  font-size: var(--h1-font-size);
  padding-left: 35px;
  margin-bottom: 30px;
}
.about__text h3::after {
  content: " ";
  position: absolute;
  display: block;
  width: 15%;
  height: 2px;
  top: 35px;
  background-color: var(--title-color);
}
.about__text p {
  margin-bottom: 15px;
  color: var(--title-color);
  padding: 0 35px;
  padding-right: 20px;
  line-height: 23px;
}
.about__text p:last-child {
  margin-bottom: 35px;
}
.about__group {
  display: none;
}
.about__blue {
  background-color: var(--title-color);
}
.about__blue .about__text h6 {
  color: var(--white-color);
  text-align: right;
  padding-right: 35px;
}
.about__blue .about__text h3 {
  color: var(--white-color);
  text-align: right;
  padding-right: 35px;
}
.about__blue .about__text h3::after {
  right: 35px;
  background-color: var(--white-color);
  width: 30%;
}
.about__blue .about__text p {
  color: var(--white-color);
  text-align: right;
  padding-left: 10px;
}
.about__blue .about__text p:nth-child(3) {
  font-style: italic;
  font-size: var(--small-font-size);
  line-height: 20px;
  margin-bottom: var(--mb-1-5);
  padding-left: 35px;
}
.about__orange {
  background-color: #FFE4D4;
}
.about__orange .about__text h6 {
  color: var(--first-color);
  padding-left: 35px;
}
.about__orange .about__text h3 {
  color: var(--first-color);
  padding-left: 35px;
}
.about__orange .about__text h3::after {
  left: 35px;
  background-color: var(--first-color);
  width: 30%;
}
.about__orange .about__text p {
  color: var(--first-color);
  padding-right: 10px;
}
.about__orange .about__text p:nth-child(3) {
  font-style: italic;
  font-size: var(--small-font-size);
  line-height: 20px;
  margin-bottom: var(--mb-1-5);
  padding-left: 35px;
}

.footer {
  background-color: var(--bg-section-color);
}
.footer__text {
  margin-bottom: var(--mb-1-5);
}
.footer__text h3 {
  color: #002A68;
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1-5);
}
.footer__text a {
  display: inline-block;
  margin-bottom: var(--mb-0-5);
}
.footer__text a:hover span {
  color: var(--title-color);
}
.footer__text a span {
  color: #002A68;
  font-size: var(--small-font-size);
  transition: 0.2s all;
}
.footer__divider {
  width: 50%;
  height: 2px;
  background-color: #DDDDDD;
  margin-bottom: var(--mb-2);
}
.footer__bottom .footer__text p {
  color: #002A68;
  font-size: var(--small-font-size);
  line-height: 22px;
}
.footer__bottom .footer__text h6 {
  color: #002A68;
  font-weight: var(--font-bold);
  font-size: var(--small-font-size);
  line-height: 22px;
}
.footer__bottom-right {
  display: flex;
}
.footer__bottom-right img:first-child {
  margin-right: 10px;
}
.footer__dflex {
  display: flex;
  align-items: center;
}

.footer.section {
  padding: 50px 0;
}

.popup {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 100;
  transition: 0.2s all;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.popup__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.popup .section__title {
  font-size: var(--normal-font-size);
}
.popup__icon {
  display: flex;
  justify-content: flex-end;
  font-size: var(--biggest-font-size);
}
.popup__icon i {
  transform: translateY(-10px);
  cursor: pointer;
}
.popup__content {
  position: relative;
  top: -1000px;
  opacity: 0;
  background-color: #fff;
  margin-left: var(--ml-1-5);
  margin-right: var(--mr-1-5);
  border-radius: 20px;
  padding: 30px 15px;
  max-width: 767px;
  max-height: calc(100vh - 100px);
}

#popup-reports .popup__body {
  height: calc(100vh - 230px);
}
#popup-reports .popup__body iframe {
  height: 100%;
}

.show-popup {
  top: 0;
  animation-name: show;
  -webkit-animation-name: show;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
}
.show-popup .popup__content {
  opacity: 100%;
  animation-name: move;
  -webkit-animation-name: move;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-moz-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-ms-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-o-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes move {
  0% {
    top: -1000px;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes move {
  0% {
    top: -1000px;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes move {
  0% {
    top: -1000px;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes move {
  0% {
    top: -1000px;
  }
  100% {
    top: 0;
  }
}
@keyframes move {
  0% {
    top: -1000px;
  }
  100% {
    top: 0;
  }
}
/* For small devices */
@media screen and (max-width: 320px) {
  .home__mb {
    flex-direction: column;
    align-items: start;
  }
  .home__mb img:last-child {
    margin-left: 0;
    margin-top: 10px;
  }

  .container {
    margin-left: var(--ml-1);
    margin-right: var(--mr-1);
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .home__img {
    height: auto;
  }
  .home__title {
    margin-bottom: var(--mb-1-5);
  }
  .home__tagline {
    margin-bottom: var(--mb-1-5);
  }

  .question__img {
    max-width: 380px;
  }

  .benefit .section__title {
    margin-bottom: 50px;
  }
  .benefit__data {
    grid-template-columns: repeat(2, 1fr);
  }
  .benefit__box:nth-child(2n+1) {
    margin-right: 16px;
  }
  .benefit__img {
    width: 66px;
    height: 66px;
  }

  .structure__data {
    grid-template-columns: repeat(2, 1fr);
  }
  .structure__box:first-child {
    margin-right: 15px;
  }
  .structure__box:nth-child(2n) {
    margin-left: 15px;
    margin-top: 0;
  }
  .structure__box:last-child {
    margin-top: 40px;
    transform: translate(50%);
  }

  .footer__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
    align-items: center;
    justify-content: unset;
  }
  .nav__img, .nav__close, .nav__toggle {
    display: none;
  }
  .nav__menu-sub {
    flex-direction: row;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 1rem;
    margin-bottom: 0;
  }
  .nav__link {
    text-transform: initial;
  }

  .section {
    padding: calc(var(--header-height) + 1.5rem) 0;
  }

  .popup__content {
    margin: 0 auto;
    padding: 40px 30px;
  }
  .popup__icon i {
    transform: translateY(0px);
  }

  .home__content {
    padding: calc(var(--header-height) + 1.25rem + 50px) 0 50px;
    min-height: 719px;
    grid-template-columns: repeat(2, 1fr);
  }
  .home__group {
    align-content: center;
    justify-content: start;
  }
  .home__img {
    width: 100%;
    max-width: 100%;
    padding-right: 24px;
    height: auto;
  }
  .home__title {
    margin-bottom: 25px;
  }
  .home__tagline {
    margin-bottom: 25px;
  }

  .introduction__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .introduction__text {
    padding-right: 20px;
    max-width: 440px;
  }
  .introduction__buttons {
    max-width: 100%;
    justify-self: unset;
    margin-top: 0;
  }

  .question__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .question__data {
    display: block;
    max-width: 440px;
  }
  .question__img {
    max-width: 300px;
    transform: translate(40px, -10px);
  }
  .question__group {
    position: relative;
  }
  .question__buttons {
    justify-self: normal;
  }

  .question.section {
    padding-bottom: 10px;
  }

  .process .section__title {
    position: relative;
    text-align: right;
  }
  .process .section__title::after {
    position: absolute;
    top: unset;
    right: 0;
    bottom: -10px;
  }
  .process__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .process__group {
    display: block;
  }
  .process__step {
    flex-direction: row-reverse;
  }
  .process__num {
    margin-right: 0;
    margin-left: 20px;
  }

  .process.section {
    padding-bottom: 0px;
  }

  .about__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 767px;
  }
  .about__group {
    display: flex;
    padding: 35px;
  }
  .about__text h3 {
    margin-bottom: 50px;
  }
  .about__text h3::after {
    top: 60px;
  }
  .about__img {
    border-radius: 20px;
  }
  .about__blue {
    justify-self: flex-end;
  }

  .product__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .product__group {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .product__group:last-child {
    margin-right: 0;
    margin-left: 50px;
  }

  .contact__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact__form {
    max-width: none;
    width: 100%;
    margin-right: 25px;
  }
  .contact__img {
    position: relative;
    width: auto;
    height: 100%;
    transform: translate(0, 75px);
    object-fit: contain;
  }
  .contact__group {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .footer__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: var(--mb-2);
  }
}
/* For large devices */
@media screen and (min-width: 992px) {
  .nav__list {
    column-gap: 2rem;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section__title {
    font-size: 26px;
  }

  .popup__icon i {
    transform: translateY(-15px);
  }

  .question__img {
    max-width: 380px;
    transform: translate(70px, -30px);
  }

  .home__group {
    padding-top: 0;
  }
  .home__img {
    width: 430px;
    padding-right: 0px;
    height: auto;
  }
  .home__details-img {
    bottom: 0%;
    right: 58%;
  }
  .home__description {
    max-width: 470px;
  }

  .structure__data {
    grid-template-columns: repeat(3, 1fr);
  }
  .structure__box--bottom .structure__line {
    display: block;
  }
  .structure__box:first-child {
    margin-right: 20px;
  }
  .structure__box:nth-child(2n) {
    margin: 0 10px;
  }
  .structure__box:last-child {
    margin-top: 0;
    margin-left: 20px;
    transform: translate(0);
  }

  .benefit__data {
    grid-template-columns: repeat(3, 1fr);
  }
  .benefit__box {
    margin-right: 16px;
  }
  .benefit__box:nth-child(3n+3) {
    margin-right: 0;
  }

  .product__group {
    max-width: none;
    width: 440px;
  }

  .contact__img {
    transform: translate(15px, 75px);
  }

  .footer__top {
    display: grid;
    grid-template-columns: 160px 245px 245px auto;
    gap: 2rem;
  }
  .footer__divider {
    margin-bottom: var(--mb-2-5);
  }
  .footer__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .footer__dflex {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__img {
    transform: translate(30px, 75px);
  }
}

/*# sourceMappingURL=styles.css.map */
